.card-container-caregivers {
    width: 90%;
    padding: 3em;
    margin: auto;
    padding-top: 2em;
}

.card-container-caregivers .add-button {
    width: 15%;
    margin: 0.5em;
    color: white;
    border: 1px solid;
    background-color: #EE0000;
    border-radius: 1em;
    padding: 1em 0.5em;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: bold;
}